{% extends('base.html.twig') %}

{% block body %}
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h3 class="display-4">Welcome To <i class="bi bi-list-nested"></i>Job<span class="text-success">Stack</span></h3>
    <p class="lead pt-2">Unlock Your Career Potential: Find Your Perfect Match!</p>
  </div>
</div>
<div class="row pt-3">
    <div class="col-4 text-center">
        <i class="bi bi-people fs-1"></i>
        <h5>Connect with Top Professionals</h5>
        <hr>
        <p>Discover a network of experienced individuals ready to guide you towards success.</p>
    </div>
    <div class="col-4 text-center">
        <i class="bi bi-briefcase fs-1"></i>
        <h5>Explore Exciting Opportunities</h5>
        <hr>
        <p>Find a diverse range of job openings that match your skills and aspirations.</p>
    </div>
    <div class="col-4 text-center">
        <i class="bi bi-check-circle fs-1"></i>
        <h5>Achieve Your Career Goals</h5>
        <hr>
        <p>Empower yourself to reach new heights and achieve professional fulfillment.</p>
    </div>
</div>

{% endblock %}
